<div class="row">
    <div class="col-md-4">
      <div class="card custom-card">
        <div class="card-header nav-align-top custom-card-header">
          <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active custom-tab-link" data-bs-toggle="tab" data-bs-target="#form-tabs-personal" role="tab" aria-selected="true">
                User Registration
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link custom-tab-link" data-bs-toggle="tab" data-bs-target="#form-edit-personal" role="tab" aria-selected="false">
                Update Registration
              </button>
            </li>

          </ul>
        </div>

        <div class="tab-content custom-tab-content">
          <div class="tab-pane fade show active" id="form-tabs-personal" role="tabpanel">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label" for="fname">First Name<span style="color:red">*</span></label>
                  <input
                    type="text"
                    id="fname"
                    class="form-control custom-input"
                    formControlName="firstName"
                    placeholder="First Name"
                  />
                  <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" class="text-danger">
                    <small *ngIf="userForm.get('firstName')?.errors?.['required']">First Name is required</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="mname">Middle Name</label>
                  <input
                    type="text"
                    id="mname"
                    class="form-control custom-input"
                    formControlName="middleName"
                    placeholder="Middle Name"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="lname">Last Name<span style="color:red">*</span></label>
                  <input
                    type="text"
                    id="lname"
                    class="form-control custom-input"
                    formControlName="lastName"
                    placeholder="Last Name"
                  />
                  <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched" class="text-danger">
                    <small *ngIf="userForm.get('lastName')?.errors?.['required']">Last Name is required</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="extName">Name Ext.</label>
                  <input
                    type="text"
                    id="extName"
                    class="form-control custom-input"
                    formControlName="extName"
                    placeholder="Extension"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="utype">User Type<span style="color:red">*</span></label>
                  <select id="utype" class="form-select custom-input" formControlName="positionCode">
                    <option value="" disabled>Select Position</option>
                    <option *ngFor="let x of positions" [value]="x.positionCode">{{ x.positionName }}</option>
                  </select>
                  <div *ngIf="userForm.get('positionCode')?.invalid && userForm.get('positionCode')?.touched" class="text-danger">
                    <small *ngIf="userForm.get('positionCode')?.errors?.['required']">User Type is required</small>
                  </div>
                </div>
                


                <div class="col-md-6">
                  <label class="form-label" for="formtabs-username">Username<span style="color:red">*</span></label>
                  <input
                    type="text"
                    id="formtabs-username"
                    class="form-control custom-input"
                    formControlName="userName"
                    placeholder="Enter username"
                  />
                    <div *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched" class="text-danger">
              <small *ngIf="userForm.get('userName')?.errors?.['required']">Username is required</small>
              <small *ngIf="userForm.get('userName')?.errors?.['minlength']">Username must be at least 3 characters</small>
            </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-password">Password<span style="color:red">*</span></label>
                  <input
                    type="password"
                    id="formtabs-password"
                    class="form-control custom-input"
                    formControlName="password"
                    placeholder="••••••••••"
                  />
                  <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="text-danger">
                    <small *ngIf="userForm.get('password')?.errors?.['required']">Password is required</small>
                    <small *ngIf="userForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</small>
                    <small *ngIf="userForm.hasError('passwordMismatch')">Passwords do not match</small>
                  </div>
                </div>

                <!-- Confirm Password -->
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-confirm-password">Confirm Password<span style="color:red">*</span></label>
                  <input
                    type="password"
                    id="formtabs-confirm-password"
                    class="form-control custom-input"
                    formControlName="confirmPassword"
                    placeholder="••••••••••"
                  />
                  <div *ngIf="userForm.get('confirmPassword')?.invalid && userForm.get('confirmPassword')?.touched" class="text-danger">
                    <small *ngIf="userForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</small>
                    <small *ngIf="userForm.hasError('passwordMismatch')">Passwords do not match</small>
                  </div>
                </div>
              </div>

              <!-- Submit & Reset Buttons -->
              <div class="pt-4">
                <button type="submit" class="btn btn-primary me-2" [disabled]="userForm.invalid" style="color: white;">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" (click)="onReset()">Cancel</button>
              </div>
            </form>
          </div>

          <div class="tab-pane fade active hide" id="form-edit-personal" role="tabpanel">
            <form [formGroup]="userUpForm" (ngSubmit)="onUpdate()">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label" for="fname">First Name<span style="color:red">*</span></label>
                  <input
                    type="text"
                    id="fname"
                    class="form-control custom-input"
                    formControlName="firstName"
                    placeholder="First Name"
                  />
                  <div *ngIf="userUpForm.get('firstName')?.invalid && userUpForm.get('firstName')?.touched" class="text-danger">
                    <small *ngIf="userUpForm.get('firstName')?.errors?.['required']">First Name is required</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="mname">Middle Name</label>
                  <input
                    type="text"
                    id="mname"
                    class="form-control custom-input"
                    formControlName="middleName"
                    placeholder="Middle Name"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="lname">Last Name<span style="color:red">*</span></label>
                  <input
                    type="text"
                    id="lname"
                    class="form-control custom-input"
                    formControlName="lastName"
                    placeholder="Last Name"
                  />
                  <div *ngIf="userUpForm.get('lastName')?.invalid && userUpForm.get('lastName')?.touched" class="text-danger">
                    <small *ngIf="userUpForm.get('lastName')?.errors?.['required']">Last Name is required</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="extName">Name Ext.</label>
                  <input
                    type="text"
                    id="extName"
                    class="form-control custom-input"
                    formControlName="extName"
                    placeholder="Extension"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="utype">User Type<span style="color:red">*</span></label>
                  <select id="utype" class="form-select custom-input" formControlName="positionCode">
                    <option value="" disabled>Select Position</option>
                    <option *ngFor="let x of positions" [value]="x.positionCode">{{ x.positionName }}</option>
                  </select>
                  <div *ngIf="userUpForm.get('positionCode')?.invalid && userUpForm.get('positionCode')?.touched" class="text-danger">
                    <small *ngIf="userUpForm.get('positionCode')?.errors?.['required']">User Type is required</small>
                  </div>
                </div>
                


                <div class="col-md-6">
                  <label class="form-label" for="formtabs-username">Username<span style="color:red">*</span></label>
                  <input
                    type="text"
                    id="formtabs-username"
                    class="form-control custom-input"
                    formControlName="userName"
                    placeholder="Enter username"
                  />
                    <div *ngIf="userUpForm.get('userName')?.invalid && userUpForm.get('userName')?.touched" class="text-danger">
              <small *ngIf="userUpForm.get('userName')?.errors?.['required']">Username is required</small>
              <small *ngIf="userUpForm.get('userName')?.errors?.['minlength']">Username must be at least 3 characters</small>
            </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-password">Password<span style="color:red">*</span></label>
                  <input
                    type="password"
                    id="formtabs-password"
                    class="form-control custom-input"
                    formControlName="password"
                    placeholder="••••••••••"
                  />
                  <div *ngIf="userUpForm.get('password')?.invalid && userUpForm.get('password')?.touched" class="text-danger">
                    <small *ngIf="userUpForm.get('password')?.errors?.['required']">Password is required</small>
                    <small *ngIf="userUpForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</small>
                    <small *ngIf="userUpForm.hasError('passwordMismatch')">Passwords do not match</small>
                  </div>
                </div>

                <!-- Confirm Password -->
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-confirm-password">Confirm Password<span style="color:red">*</span></label>
                  <input
                    type="password"
                    id="formtabs-confirm-password"
                    class="form-control custom-input"
                    formControlName="confirmPassword"
                    placeholder="••••••••••"
                  />
                  <div *ngIf="userUpForm.get('confirmPassword')?.invalid && userUpForm.get('confirmPassword')?.touched" class="text-danger">
                    <small *ngIf="userUpForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</small>
                    <small *ngIf="userUpForm.hasError('passwordMismatch')">Passwords do not match</small>
                  </div>
                </div>
              </div>
              <div class="pt-4">
                <button type="submit" class="btn btn-primary me-2" [disabled]="userUpForm.invalid" style="color: white;">Update</button>
                <button type="reset" class="btn btn-outline-secondary" (click)="onUpReset()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="table-responsive text-nowrap">
            <table class="table">
              <thead class="table-dark">
                <tr>
                  <th>Full Name</th>
                  <th>User Type</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr *ngFor="let s of userData">
                  <td>{{s.firstName}} {{s.middleName}} {{s.lastName}}</td>
                  <td>
                      {{s.positionName}}
                  </td>
                  <td>
                    <span  *ngIf="s.isActive === true" class="badge bg-label-primary me-1">Active</span>
                    <span  *ngIf="s.isActive === false" class="badge bg-label-danger me-1">Deactivate</span>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Deactivate</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Activate</a>
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
    </div>
  </div>
