<div class="row">
    <!-- User Sidebar -->
    <div class="col-xl-4 col-lg-5 order-1 order-md-0">
      <!-- User Card -->
      <div class="card mb-6" style="height: 590px;">
        <div class="card-body pt-12">
          <div class="user-avatar-section">
            <div class=" d-flex align-items-center flex-column">
              <img class="img-fluid rounded mb-4" src="../../assets/img/avatars/1.png" height="120" width="120" alt="User avatar">
              <div class="user-info text-center pb-2">
                <h5>Violet Mendoza</h5>
                <span class="badge bg-label-secondary">Status: Inpatient</span>
              </div>
            </div>
          </div>
          <div class="info-container">
          
            <div class="d-flex justify-content-center pb-4">
              <a class="btn btn-primary me-4" data-bs-toggle="modal">Edit</a>
              <a class="btn btn-primary me-4">Application</a>
            </div>
          </div>
          <h6 class="border-top">Application Summary</h6>
          <div class="col-lg-12">
            <div class="card h-100 border-emphasis">
            <div class="card shadow-none"> 
                  <div class="card-datatable text-nowrap">
                      <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                          <div class="justify-content-between dt-layout-table">
                              <div class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive">
                                  <table class="datatables-ajax table table-bordered dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                      <thead>
                                          <tr>
                                              <th>Appl. date</th>
                                              <th>Status</th>
                                              <th>Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <!-- Empty body -->
                                      </tbody>
                                      <tfoot></tfoot>
                                  </table>
                              </div>
                          </div>
                          <div class="row mx-3 justify-content-between">
                          </div>
                      </div>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7 order-0 order-md-1">
      <!-- User Pills -->
      <div class="nav-align-top">
        <ul class="nav nav-pills flex-column flex-md-row mb-6 flex-wrap row-gap-2">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"><i class="icon-base bx bx-user icon-sm me-1_5"></i>Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-user-view-security.html"><i class="icon-base bx bx-lock-alt icon-sm me-1_5"></i>Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-user-view-billing.html"><i class="icon-base bx bx-detail icon-sm me-1_5"></i>Billing &amp; Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-user-view-notifications.html"><i class="icon-base bx bx-bell icon-sm me-1_5"></i>Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-user-view-connections.html"><i class="icon-base bx bx-link icon-sm me-1_5"></i>Connections</a>
          </li>
        </ul>
      </div>
      <!--/ User Pills -->

      <!-- Project table -->
      <div class="col-lg-12">
        <div class="card h-100 border-emphasis">
        <div class="card m-4 shadow-none"> 
              <div class="card-datatable text-nowrap">
                  <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                      <div class="row mx-3 my-0 justify-content-between">
                          <div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto">
                              <div class="dt-length">
                                  <label for="dt-length-0">Show
                                      <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select" id="dt-length-0">
                                          <option value="7">7</option>
                                          <option value="10">10</option>
                                          <option value="25">25</option>
                                          <option value="50">50</option>
                                          <option value="100">100</option>
                                      </select>
                                      entries
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="justify-content-between dt-layout-table">
                          <div class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive">
                              <div id="DataTables_Table_0_processing" class="dt-processing card" role="status" style="display: none;">
                                  <div>
                                      <div></div>
                                      <div></div>
                                      <div></div>
                                      <div></div>
                                  </div>
                              </div>
                              <table class="datatables-ajax table table-bordered dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                  <colgroup>
                                      <col data-dt-column="0" style="width: 180.875px;">
                                      <col data-dt-column="1" style="width: 203.475px;">
                                      <col data-dt-column="2" style="width: 244.2px;">
                                      <col data-dt-column="3" style="width: 138px;">
                                      <col data-dt-column="4" style="width: 128.975px;">
                                      <col data-dt-column="5" style="width: 118.075px;">
                                  </colgroup>
                                  <thead>
                                      <tr>
                                          <th>Full name</th>
                                          <th>Email</th>
                                          <th>Position</th>
                                          <th>Office</th>
                                          <th>Start date</th>
                                          <th>Salary</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <!-- Empty body -->
                                  </tbody>
                                  <tfoot></tfoot>
                              </table>
                          </div>
                      </div>
                      <div class="row mx-3 justify-content-between">
                          <div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto">
                              <div class="dt-info" aria-live="polite" id="DataTables_Table_0_info" role="status">Showing 0 to 0 of 0 entries</div>
                          </div>
                          <div class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0">
                              <div class="dt-paging">
                                  <nav aria-label="pagination">
                                      <ul class="pagination">
                                          <li class="dt-paging-button page-item disabled">
                                              <button class="page-link previous" role="link" type="button" aria-controls="DataTables_Table_0" aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1">
                                                  <i class="icon-base bx bx-chevron-left scaleX-n1-rtl icon-sm"></i>
                                              </button>
                                          </li>
                                          <li class="dt-paging-button page-item disabled">
                                              <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0" data-dt-idx="0">1</button>
                                          </li>
                                          <li class="dt-paging-button page-item disabled">
                                              <button class="page-link next" role="link" type="button" aria-controls="DataTables_Table_0" aria-label="Next" data-dt-idx="next">
                                                  <i class="icon-base bx bx-chevron-right scaleX-n1-rtl icon-sm"></i>
                                              </button>
                                          </li>
                                      </ul>
                                  </nav>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
        </div>
      </div>
    
      
    
    </div>
    <!--/ User Content -->
  </div>