
<div class="row">
    <!-- User Sidebar -->
    <div class="col-xl-4 col-lg-5 order-1 order-md-0">
      <!-- User Card -->
      <div class="card mb-6" style="height: 590px;">
        <div class="card-body pt-12">
          <button class="btn btn-secondary btn-sm text-white" (click)="tryprint()">Print QrCode</button>
          <div class="user-avatar-section">
            <div class=" d-flex align-items-center flex-column">
              <i class="bx bx-user-circle d-block w-px-100 h-px-100 text-primary" style="font-size: 100px;"></i>

              <div class="user-info text-center pb-2" >
                <!-- <h5>{{ExistedPatient[0].pFirstName + ' ' +this.ExistedPatient[0].pMiddleName+' '+this.ExistedPatient[0].pLastName}}</h5> -->
                <span class="badge bg-label-secondary">Status: Inpatient</span>
              </div>
            </div>
          </div>
          <div class="info-container">

            <br>
          </div>
          <h6 class="border-top">Attendance Summary</h6>
          <div class="col-lg-12">
            <div class="card h-100 border-emphasis">
            <div class="card shadow-none">
                  <div class="card-datatable text-nowrap">
                      <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                          <div class="justify-content-between dt-layout-table">
                              <div class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive">
                                  <table class="datatables-ajax table table-bordered dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                      <thead>
                                          <tr>
                                              <th>Date</th>
                                              <th>Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>12-12-2024</td>
                                          <td>Time-in</td>
                                        </tr>
                                      </tbody>
                                      <tfoot></tfoot>
                                  </table>
                              </div>
                          </div>
                          <div class="row mx-3 justify-content-between">
                          </div>
                      </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7 order-0 order-md-1">
      <!-- User Pills -->
      <div class="nav-align-top bg-label-primary">
        <span class="badge badge-custom">Selected Application:</span>
        <ul class="nav nav-pills flex-column flex-md-row">
          <li class="nav-item">
            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#FinanceTab" type="button">
              <i class="icon-base bx bx-wallet icon-sm me-1_5"></i>Finance Record
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#SWPNTab" type="button">
              <i class="icon-base bx bx-lock-alt icon-sm me-1_5"></i>SWPN
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#NurseTab" type="button">
              <i class="icon-base bx bx-pencil icon-sm me-1_5"></i>Nurses Notes
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PPNTab" type="button">
              <i class="icon-base bx bx-message-detail icon-sm me-1_5"></i>PPN
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PETab" type="button">
              <i class="icon-base bx bx-book icon-sm me-1_5"></i>PE
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TreatmentTab" type="button">
              <i class="icon-base bx bx-briefcase icon-sm me-1_5"></i>Treatment Plan
            </button>
          </li>
         <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TraisTab" type="button">
            <i class="	bx bx-analyse icon-base icon-sm me-2"></i>Trais
          </button>
         </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#DoctorsTab" type="button">
              <i class="icon-base bx bx-notepad icon-sm me-1_5"></i>Doctors Order
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#MedicationTab" type="button">
              <i class="icon-base bx bx-capsule icon-sm me-1_5"></i>Medication
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#LaboratoryTab" type="button">
              <i class="icon-base bx bx-test-tube icon-sm me-1_5"></i>Laboratory
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PsychEvalTab" type="button">
              <i class="icon-base bx bx-brain icon-sm me-1_5"></i>Psych Eval
            </button>
          </li>
        </ul>

      </div>

      <div class="tab-content">
        <div class="tab-pane fade show" id="FinanceTab">
          <div class="card">
            <h5 class="card-header">Finance Record</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="SWPNTab">

         <div class="card">
            <div class="card-header d-flex align-items-center ">
              <div class="d-flex align-items-center">
                <h5 class="mb-0">Social Work Progress Notes (SWPN)</h5>
                <button type="button" style="margin-left:5px" class="btn btn-secondary me-2"><label style="color:white" data-bs-toggle="modal" data-bs-target="#backDropModal"><i class="icon-base bx bx-plus icon-sm me-1_5"></i>Notes</label></button>

              </div>
            </div>
           <div class="card-body" style="height: 400px; overflow-y: auto;">
              <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                <table class="table table-bordered table-striped table-hover">
                  <thead class="table-dark text-center">
                    <tr >
                      <th style="width: 5%;">#</th>
                      <th style="width: 10%;">Date</th>
                      <th style="width: 40%;">ACTIVITIES</th>
                      <th style="width: 40%;">INTERVENTION</th>
                      <th style="width: 5%;">Action</th>
                    </tr>
                  </thead>
                   <tbody class="table-border-bottom-0">
                    <tr *ngFor="let s of appHistory; let i = index">
                      <td class="text-center">{{ i + 1}}</td>
                       <!-- <td>{{ s.assessmentDate | date:'yyyy-MM-dd' }}</td> -->
                      <td>{{s.type}}</td>
                      <td>OnDev</td>
                      <td class="text-center">
                        <!-- <button type="button" class="btn btn-sm btn-primary text-white" title="View Details" (click)="goToPatientDashboard(s.patientCode,s.assessmentCode)" >
                          <i class="bx bx-show"></i> 
                        </button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="NurseTab">

          <div class="card">
            <h5 class="card-header">Nurses Notes</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="PPNTab">
          <div class="card">
            <h5 class="card-header">Psychological Progress Notes (PPN)</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="PETab">
          <div class="card">
            <h5 class="card-header">Psychological Evaluation (PE)</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="TreatmentTab">
          <div class="card">
            <h5 class="card-header">Treatment Plan</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="TraisTab">

         <div class="card">
            <h5 class="card-header">Trais</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="DoctorsTab">
          <div class="card">
            <h5 class="card-header">Doctors Order</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="MedicationTab">
           <div class="card">
            <h5 class="card-header">Medication</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="LaboratoryTab">
          <div class="card">
            <h5 class="card-header">Laboratory</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="PsychEvalTab">
          <div class="card">
            <h5 class="card-header">Psychiatric Evaluation </h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Tab Content -->
    </div>


    <!--/ User Content -->
  </div>
<!-- Modal -->

