
<div class="row">
    <!-- User Sidebar -->
    <div class="col-xl-4 col-lg-5 order-1 order-md-0">
      <!-- User Card -->
      <div class="card mb-6" style="height: 590px;">
        <div class="card-body pt-12">
          <button class="btn btn-secondary btn-sm text-white" (click)="tryprint()">Print QrCode</button>
          <div class="user-avatar-section">
            <div class=" d-flex align-items-center flex-column">
              <i class="bx bx-user-circle d-block w-px-100 h-px-100 text-primary" style="font-size: 100px;"></i>

              <div class="user-info text-center pb-2">
                <h5>Violet Mendoza</h5>
                <span class="badge bg-label-secondary">Status: Inpatient</span>
              </div>
            </div>
          </div>
          <div class="info-container">

            <div class="d-flex justify-content-center pb-4">
              <button class="btn btn-secondary text-white" (click)="navigateToDashboard()">Edit Profile</button>
              </div>
          </div>
          <h6 class="border-top">Attendance Summary</h6>
          <div class="col-lg-12">
            <div class="card h-100 border-emphasis">
            <div class="card shadow-none">
                  <div class="card-datatable text-nowrap">
                      <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                          <div class="justify-content-between dt-layout-table">
                              <div class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive">
                                  <table class="datatables-ajax table table-bordered dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                      <thead>
                                          <tr>
                                              <th>Date</th>
                                              <th>Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>12-12-2024</td>
                                          <td>Time-in</td>
                                        </tr>
                                      </tbody>
                                      <tfoot></tfoot>
                                  </table>
                              </div>
                          </div>
                          <div class="row mx-3 justify-content-between">
                          </div>
                      </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7 order-0 order-md-1">
      <!-- User Pills -->
      <div class="nav-align-top bg-label-primary">
        <span class="badge badge-custom">Selected Application:</span>
        <ul class="nav nav-pills flex-column flex-md-row">
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#FinanceTab" type="button">
              <i class="icon-base bx bx-wallet icon-sm me-1_5"></i>Finance Record
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#SWPNTab" type="button">
              <i class="icon-base bx bx-lock-alt icon-sm me-1_5"></i>SWPN
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#NurseTab" type="button">
              <i class="icon-base bx bx-pencil icon-sm me-1_5"></i>Nurses Notes
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PPNTab" type="button">
              <i class="icon-base bx bx-message-detail icon-sm me-1_5"></i>PPN
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PETab" type="button">
              <i class="icon-base bx bx-book icon-sm me-1_5"></i>PE
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TreatmentTab" type="button">
              <i class="icon-base bx bx-briefcase icon-sm me-1_5"></i>Treatment Plan
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TraisTab" type="button">
              <i class="icon-base  icon-sm me-1_5"></i>Trais
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#DoctorsTab" type="button">
              <i class="icon-base bx bx-notepad icon-sm me-1_5"></i>Doctors Order
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#MedicationTab" type="button">
              <i class="icon-base bx bx-capsule icon-sm me-1_5"></i>Medication
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#LaboratoryTab" type="button">
              <i class="icon-base bx bx-test-tube icon-sm me-1_5"></i>Laboratory
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PsychEvalTab" type="button">
              <i class="icon-base bx bx-brain icon-sm me-1_5"></i>Psych Eval
            </button>
          </li>
        </ul>

      </div>

      <div class="tab-content">
        <div class="tab-pane fade show" id="FinanceTab">
          <div class="card">
            <h5 class="card-header">Finance Record</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="SWPNTab">
          <h5>Social Work Progress Notes (SWPN)</h5>
          <p>Details about social work progress notes go here.</p>
        </div>
        <div class="tab-pane fade" id="NurseTab">
          <h5>Nurses Notes</h5>
          <p>Details about nurses' notes go here.</p>
        </div>
        <div class="tab-pane fade" id="PPNTab">
          <h5>Psychological Progress Notes (PPN)</h5>
          <p>Details about psychological progress notes go here.</p>
        </div>
        <div class="tab-pane fade" id="PETab">
          <h5>Psychological Evaluation (PE)</h5>
          <p>Details about psychological evaluations go here.</p>
        </div>
        <div class="tab-pane fade" id="TreatmentTab">
          <h5>Treatment Plan</h5>
          <p>Details about the treatment plan go here.</p>
        </div>
        <div class="tab-pane fade" id="TraisTab">
          <h5>Trais</h5>
          <p>Details about Trais go here.</p>
        </div>
        <div class="tab-pane fade" id="DoctorsTab">
          <h5>Doctors Order</h5>
          <p>Details about doctors' orders go here.</p>
        </div>
        <div class="tab-pane fade" id="MedicationTab">
          <h5>Medication</h5>
          <p>Details about medication go here.</p>
        </div>
        <div class="tab-pane fade" id="LaboratoryTab">
          <h5>Laboratory</h5>
          <p>Details about laboratory results go here.</p>
        </div>
        <div class="tab-pane fade" id="PsychEvalTab">
          <h5>Psychiatric Evaluation (Psych Eval)</h5>
          <p>Details about psychiatric evaluations go here.</p>
        </div>
      </div>
      <!--/ Tab Content -->
    </div>


    <!--/ User Content -->
  </div>

