
<div class="row">
    <!-- User Sidebar -->
    <div class="col-xl-4 col-lg-5 order-1 order-md-0">
      <!-- User Card -->
      <div class="card mb-6" style="height: 590px;">
        <div class="card-body pt-12">
         <div class="justify-content-between d-flex align-items-center mb-3">
            <button class="btn btn-secondary btn-sm text-white" (click)="backToApp()">
              <i class="bx bx-arrow-back"></i> Return to Application
            </button>

            <button class="btn btn-primary btn-sm text-white" (click)="tryprint()">
              Print QrCode
            </button>
          </div>
          <div class="user-avatar-section">
            <div class=" d-flex align-items-center flex-column">
              <i class="bx bx-user-circle d-block w-px-100 h-px-100 text-primary" style="font-size: 100px;"></i>

              <div class="user-info text-center pb-2" >
               <div *ngIf="ExistedPatient && ExistedPatient[0]">
                  <h6 class="text-primary">
                    {{ ExistedPatient[0].pFirstName + ' ' + ExistedPatient[0].pMiddleName + ' ' + ExistedPatient[0].pLastName }}
                  </h6>
                </div>

                <label class="badge bg-label-secondary" *ngIf="ExistedPatient && ExistedPatient[0]">
                    Byname: {{ ExistedPatient[0].pNickName | uppercase}} | 
                    {{ ExistedPatient[0].sex == 1 ? 'Male' : ExistedPatient[0].sex == 2 ? 'Female' : 'Unknown' }} |
                    Age: {{ExistedPatient[0].age}} | {{ExistedPatient[0].birthdate | date:'yyyy-MM-dd'}}
                  </label>

              <br>
                <span class="badge bg-label-secondary">Status: OnDev</span>
              </div>
            </div>
          </div>
          <div class="info-container">
            <br>
          </div>
          <h6 class="border-top">Attendance Summary</h6>
          <div class="col-lg-12">
            <div class="card h-100 border-emphasis">
            <div class="card shadow-none">
                  <div class="card-datatable text-nowrap">
                      <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                          <div class="justify-content-between dt-layout-table">
                              <div class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive">
                                  <table class="datatables-ajax table table-bordered dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                      <thead>
                                          <tr>
                                              <th>Date</th>
                                              <th>Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>12-12-2024</td>
                                          <td>Time-in</td>
                                        </tr>
                                      </tbody>
                                      <tfoot></tfoot>
                                  </table>
                              </div>
                          </div>
                          <div class="row mx-3 justify-content-between">
                          </div>
                      </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7 order-0 order-md-1">
      <!-- User Pills -->
      <div class="nav-align-top bg-label-primary">
        <span class="badge badge-custom">Selected Application:</span>
        <ul class="nav nav-pills flex-column flex-md-row">
          <li class="nav-item">
            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#FinanceTab" type="button">
              <i class="icon-base bx bx-wallet icon-sm me-1_5"></i>Finance Record
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#SWPNTab" type="button">
              <i class="bx bx-group icon-sm me-1_5"></i>SWPN
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#NurseTab" type="button">
              <i class="icon-base bx bx-pencil icon-sm me-1_5"></i>Nurses Notes
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PPNTab" type="button">
              <i class="icon-base bx bx-message-detail icon-sm me-1_5"></i>MPPR
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PETab" type="button">
              <i class="icon-base bx bx-book icon-sm me-1_5"></i>PE
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TreatmentTab" type="button">
              <i class="icon-base bx bx-briefcase icon-sm me-1_5"></i>Treatment Plan
            </button>
          </li>
         <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TraisTab" type="button">
            <i class="	bx bx-analyse icon-base icon-sm me-2"></i>Trais
          </button>
         </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#DoctorsTab" type="button">
              <i class="icon-base bx bx-notepad icon-sm me-1_5"></i>Doctors Order
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#MedicationTab" type="button">
              <i class="icon-base bx bx-capsule icon-sm me-1_5"></i>Medication
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#LaboratoryTab" type="button">
              <i class="icon-base bx bx-test-tube icon-sm me-1_5"></i>Laboratory
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PsychEvalTab" type="button">
              <i class="icon-base bx bx-brain icon-sm me-1_5"></i>Psych Eval
            </button>
          </li>
        </ul>

      </div>

      <div class="tab-content">
        <div class="tab-pane fade show" id="FinanceTab">
          <div class="card">
            <h5 class="card-header">Finance Record</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="SWPNTab">

         <div class="card">
            <div class="card-header d-flex align-items-center ">
              <div class="d-flex align-items-center">
                <h5 class="mb-0">Social Work Progress Notes (SWPN)</h5>
                <button type="button" style="margin-left:5px" class="btn btn-secondary me-2"><label style="color:white"  (click)="showModal()"><i class="icon-base bx bx-plus icon-sm me-1_5"></i>Notes</label></button>

              </div>
            </div>
           <div class="card-body" style="height: 400px; overflow-y: auto;">
           <br>
              <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                <table class="table table-bordered table-striped table-hover">
                  <thead class="table-dark text-center">
                    <tr >
                      <th style="width: 5%;">#</th>
                      <th style="width: 30%;">Date</th>
                      <th style="width: 30%;">ACTIVITIES</th>
                      <th style="width: 30%;">INTERVENTION</th>
                      <th style="width: 5%;">Action</th>
                    </tr>
                  </thead>
                   <tbody class="table-border-bottom-0">
                    <tr *ngFor="let s of swpnData?.entity; let i = index">
                      <td class="text-center">{{ i + 1}}</td>
                      <td>{{ s.interventionDate | date:'MMMM d, yyyy' }}</td>
                      <td>{{ s.patientActivies?.length > 10 ? (s.patientActivies | slice:0:20) + '...' : s.patientActivies }}</td>
                      <td>{{ s.patientIntervention?.length > 10 ? (s.patientIntervention | slice:0:20) + '...' : s.patientIntervention }}</td>
                      <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary text-white" (click)="viewNotes(s.recNo)" title="View Details"  >
                          <i class="bx bx-show"></i> 
                        </button>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="NurseTab">

          <div class="card">
            <h5 class="card-header">Nurses Notes</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="PPNTab">
          <div class="card">
            <div class="card-header d-flex align-items-center ">
              <div class="d-flex align-items-center">
                <h5 class="mb-0">Monthly Psychological Progress Report (MPPR)</h5>
                <button type="button" style="margin-left:5px" class="btn btn-secondary me-2"><label style="color:white"  (click)="showModalMPPR()"><i class="icon-base bx bx-plus icon-sm me-1_5"></i>Report</label></button>

              </div>
            </div>
            <div class="card-body">
              <br>
              <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                <table class="table table-bordered table-striped table-hover">
                  <thead class="table-dark text-center">
                    <tr >
                      <th style="width: 5%;">#</th>
                      <th style="width: 30%;">Month</th>
                      <th style="width: 5%;">Action</th>
                    </tr>
                  </thead>
                   <tbody class="table-border-bottom-0">
                    <tr *ngFor="let s of swpnData?.entity; let i = index">
                      <td class="text-center">{{ i + 1}}</td>
                      <td class="text-center">{{ s.interventionDate | date:'MMMM d, yyyy' }}</td>
                      <td class="text-center">
                        <!-- <button type="button" class="btn btn-sm btn-primary text-white" (click)="viewAddReportBtn(s.recNo)" title="View Details"  >
                          <i class="bx bx-show"></i> 
                        </button> -->
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="PETab">
          <div class="card">
            <h5 class="card-header">Psychological Evaluation (PE)</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="TreatmentTab">
          <div class="card">
            <h5 class="card-header">Treatment Plan</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="TraisTab">

         <div class="card">
            <h5 class="card-header">Trais</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="DoctorsTab">
          <div class="card">
            <h5 class="card-header">Doctors Order</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="MedicationTab">
           <div class="card">
            <h5 class="card-header">Medication</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="LaboratoryTab">
          <div class="card">
            <h5 class="card-header">Laboratory</h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="PsychEvalTab">
          <div class="card">
            <h5 class="card-header">Psychiatric Evaluation </h5>
            <div class="card-body">
              <div>
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Tab Content -->
    </div>
  </div>
  <form [formGroup]="SocialWorkerNotesForm" (ngSubmit)="SocialWorkerNotesFormSubmit()">
  <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
          <h5 class="modal-title" id="backDropModalTitle">SWP Notes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <label for="personalHealth" class="form-label">Activities</label>
              <textarea class="form-control" id="personalHealth" formControlName="patientActivies" rows="2"
                placeholder="Enter Personal Health History"></textarea>
              <div *ngIf="SocialWorkerNotesForm.get('patientActivies')?.touched && SocialWorkerNotesForm.get('patientActivies')?.invalid" class="text-danger">
                Activities is required.
              </div>
            </div>

            <div class="col-md-12 mt-3">
              <label for="intervention" class="form-label">Intervention</label>
              <textarea class="form-control" id="intervention" formControlName="patientIntervention" rows="2"
                placeholder="Enter Intervention"></textarea>
              <div *ngIf="SocialWorkerNotesForm.get('patientIntervention')?.touched && SocialWorkerNotesForm.get('patientIntervention')?.invalid" class="text-danger">
                Intervention is required.
              </div>
            </div>

            <div class="col-md-12 mt-3">
              <label for="appDate" class="form-label">Activity Date</label>
              <input type="date" id="appDate" formControlName="interventionDate" class="form-control" placeholder="Enter Date">
              <div *ngIf="SocialWorkerNotesForm.get('interventionDate')?.touched && SocialWorkerNotesForm.get('interventionDate')?.invalid" class="text-danger">
                Date is required.
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary me-3 text-white" [disabled]="SocialWorkerNotesForm.invalid || isSubmitting">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
  <div class="modal fade" id="viewNotesModal" tabindex="-1" aria-hidden="true">
    
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">SWP Notes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Table view -->
        <table class="table table-border-bottom-0" *ngIf="isEditingTbleView">
          <tbody>
            <ng-container *ngFor="let s of swpnDataEdit?.entity; let i = index">
              <tr>
                <td class="align-middle"><small class="text-light fw-medium">Date Noted</small></td>
                <td class="py-4">
                  <p class="mb-0">{{ s.interventionDate | date:'MM-dd-yyyy' }}</p>
                </td>
              </tr>
              <tr>
                <td class="align-middle"><small class="text-light fw-medium">Activity</small></td>
                <td class="py-6">
                  <p class="lead mb-0">{{ s.patientActivies }}</p>
                </td>
              </tr>
              <tr>
                <td class="align-middle"><small class="text-light fw-medium">Intervention</small></td>
                <td class="py-4">
                  <p class="lead mb-0">{{ s.patientIntervention }}</p>
                </td>
              </tr>
                <tr>
                <td class="align-middle"><small class="text-light fw-medium">Added By</small></td>
                <td class="py-4">
                  <p class="lead mb-0">{{s.staffFullName}}</p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <!-- Edit form view -->
        <div class="pt-3" *ngIf="isEditing">
          <div class="col-md-12">
            <label for="intervention" class="form-label">Intervention</label>
            <textarea class="form-control" id="intervention" formControlName="patientIntervention" rows="2"
              placeholder="Enter Intervention"></textarea>
            <div *ngIf="SocialWorkerNotesForm.get('patientIntervention')?.touched && SocialWorkerNotesForm.get('patientIntervention')?.invalid"
              class="text-danger">
              Intervention is required.
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label for="personalHealth" class="form-label">Activities</label>
            <textarea class="form-control" id="personalHealth" formControlName="patientActivies" rows="2"
              placeholder="Enter Personal Health History"></textarea>
            <div *ngIf="SocialWorkerNotesForm.get('patientActivies')?.touched && SocialWorkerNotesForm.get('patientActivies')?.invalid"
              class="text-danger">
              Activities is required.
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary me-3 text-white" (click)="onEditNotes()" *ngIf="isEditingTbleView">
          <i class="bx bx-edit"></i>
        </button>
         <button type="button" class="btn btn-primary me-3 text-white" (click)="onSaveNotes()" *ngIf="isEditing">
          <i class="bx bx-save"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
    <div class="modal fade" id="viewPMMRModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewPMMRModal" aria-hidden="true">

  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Psychological Progress Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Nav Tabs -->
    <ul class="nav nav-pills flex-column flex-md-row custom-nav">

      <li class="nav-item">
        <a class="nav-link active py-1 px-2 small d-flex align-items-center" data-bs-toggle="tab" data-bs-target="#AppearanceTab" role="tab" aria-selected="false">
          <i class="bx bx-user bx-sm me-1"></i> Mental Status
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link py-1 px-2 small d-flex align-items-center" data-bs-toggle="tab" data-bs-target="#DailyPatterntab" role="tab" aria-selected="false">
          <i class="bx bx-calendar bx-sm me-1"></i> Daily Pattern
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link py-1 px-2 small d-flex align-items-center" data-bs-toggle="tab" data-bs-target="#PsychologicalSummary" role="tab" aria-selected="true">
          <i class="bx bx-book-open bx-sm me-1"></i> Psychological Progress Summary
        </a>
      </li>

    </ul>


<div class="tab-content">
  <div class="tab-pane fade " id="PsychologicalSummary" role="tabpanel">
    <table class="table table-border-bottom-0">
      <tbody>
        <tr>
        </tr>
        <tr><td><small class="text-light fw-medium">Appearance</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Sensorium</small></td><td class="py-6"></td></tr>
        <tr><td><small class="text-light fw-medium">Functioning</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Speech</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Behavior</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Mood/Affect</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Daily Pattern</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Thought Content</small></td><td class="py-4"></td></tr>
        <tr>
        </tr>
        <tr><td><small class="text-light fw-medium">Physical Indicators</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Denial</small></td><td class="py-6"></td></tr>
        <tr><td><small class="text-light fw-medium">Physical Withdrawal Symptoms</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Suspension of Activities</small></td><td class="py-4"></td></tr>
        <tr><td><small class="text-light fw-medium">Cravings</small></td><td class="py-4"></td></tr>
      </tbody>
    </table>
    <div class="mt-3 text-end">
      <button type="button" class="btn btn-primary text-white">
        <i class="bx bx-save"></i> Save Mental Status
      </button>
    </div>
  </div>

  <div class="tab-pane fade active show" id="AppearanceTab" role="tabpanel">
  <div class="card my-3 shadow-sm rounded-3">
  <div class="card-body pt-4">
    <form [formGroup]="MentalStatusForm">
      <div formArrayName="AppearanceId" class="row">
        <div *ngFor="let x of Appearance" class="form-check mb-2 ms-2 col-md-2">
          <input
            type="checkbox"
            class="form-check-input"
            [value]="x.AppearanceId"
            (change)="onAppearanceCheckboxChange($event, x)"
            [checked]="AppearanceIdArray.value.includes(x.AppearanceId)"
            [id]="'appearance_' + x.AppearanceId"
          />
          <label
            class="form-check-label ms-1"
            [for]="'appearance_' + x.AppearanceId"
          >
            {{ x.AppearanceDesc }}
          </label>
        </div>
      </div>
    </form>
  </div>
</div>



    <div class="mt-3 text-end">
      <button type="button" class="btn btn-primary text-white">
        <i class="bx bx-save"></i> Save Rehab Progress
      </button>
    </div>
  </div>
    <div class="tab-pane fade" id="SensoriumTab" role="tabpanel">
 
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
</div>

    </div>
  </div>
</div>








