<div class="row">
    <div class="col-md-4">
      <div class="card custom-card">
        <div class="card-header nav-align-top custom-card-header">
          <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active custom-tab-link" data-bs-toggle="tab" data-bs-target="#form-tabs-personal" role="tab" aria-selected="true">
                User Registration
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link custom-tab-link" data-bs-toggle="tab" data-bs-target="#form-edit-personal" role="tab" aria-selected="false">
                Update Registration
              </button>
            </li>
         
          </ul>
        </div>
  
        <div class="tab-content custom-tab-content">
          <div class="tab-pane fade active show" id="form-tabs-personal" role="tabpanel">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control custom-input" placeholder="First Name">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="mname">Middle Name</label>
                  <input type="text" id="mname" class="form-control custom-input" placeholder="Middle Name">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control custom-input" placeholder="Last Name">
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="extName">Name Ext.</label>
                  <input type="text" id="extName" class="form-control custom-input" placeholder="Extension">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-phone">Phone No</label>
                  <input type="text" id="formtabs-phone" class="form-control custom-input" placeholder="0912 345 6789">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="utype">User Type</label>
                  <select id="utype" class="form-select custom-input">
                    <option value="">Select</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-username">Username</label>
                  <input type="text" id="formtabs-username" class="form-control custom-input" placeholder="john.doe">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-password">Password</label>
                  <div class="input-group input-group-merge">
                    <input type="password" id="formtabs-password" class="form-control custom-input" placeholder="••••••••••">
                    <span class="input-group-text cursor-pointer">
                      <i class="icon-base bx bx-hide"></i>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-confirm-password">Confirm Password</label>
                  <div class="input-group input-group-merge">
                    <input type="password" id="formtabs-confirm-password" class="form-control custom-input" placeholder="••••••••••">
                    <span class="input-group-text cursor-pointer">
                      <i class="icon-base bx bx-hide"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="pt-4">
                <button type="submit" class="btn btn-primary me-2" style="color:white">Submit</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade active hide" id="form-edit-personal" role="tabpanel">
            <form>
              <div class="row g-6">
                <div class="col-md-6">
                  <label class="form-label" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control custom-input" placeholder="First Name">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="mname">Middle Name</label>
                  <input type="text" id="mname" class="form-control custom-input" placeholder="Middle Name">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control custom-input" placeholder="Last Name">
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="extName">Name Ext.</label>
                  <input type="text" id="extName" class="form-control custom-input" placeholder="Extension">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-phone">Phone No</label>
                  <input type="text" id="formtabs-phone" class="form-control custom-input" placeholder="0912 345 6789">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="utype">User Type</label>
                  <select id="utype" class="form-select custom-input">
                    <option value="">Select</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-username">Username</label>
                  <input type="text" id="formtabs-username" class="form-control custom-input" placeholder="john.doe">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-password">Password</label>
                  <div class="input-group input-group-merge">
                    <input type="password" id="formtabs-password" class="form-control custom-input" placeholder="••••••••••">
                    <span class="input-group-text cursor-pointer">
                      <i class="icon-base bx bx-hide"></i>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="formtabs-confirm-password">Confirm Password</label>
                  <div class="input-group input-group-merge">
                    <input type="password" id="formtabs-confirm-password" class="form-control custom-input" placeholder="••••••••••">
                    <span class="input-group-text cursor-pointer">
                      <i class="icon-base bx bx-hide"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="pt-4">
                <button type="submit" class="btn btn-primary me-2" style="color:white">Update</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
              </div>
            </form>
          </div>
          <!-- Additional tabs like Account Details and Social Links follow a similar structure -->
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="table-responsive text-nowrap">
            <table class="table">
              <thead class="table-dark">
                <tr>
                  <th>Full Name</th>
                  <th>User Type</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr>
                  <td>Albert Cook</td>
                  <td>
                   
                  </td>
                  <td><span class="badge bg-label-primary me-1">Active</span></td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
             
              </tbody>
            </table>
          </div>
    </div>
  </div>
  