<app-loader [isLoading]="isLoading"></app-loader>

<div class="row">
  <div class="col-xxl-8 mb-6 order-0 justify-content-center">
    <div class="card border-emphasis">
      <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between mb-4">
          <div class="d-flex align-items-center" style="flex-grow: 1;">
            <label>Find Client</label>
            <div class="input-group input-group-merge" style="flex-grow: 0; margin-right: 5px;">
              <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
              <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." [(ngModel)]="searchText" (input)="FilteredSearchNames()" aria-describedby="basic-addon-search31">
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <!-- <label class="small mb-1">Scan <span class="bx bx-qr"></span></label> -->
            <div class="avatar flex-shrink-0">
              <button class="btn btn-icon btn-outline-secondary shadow" style="margin-top:10%;"
                (click)="handle(action, action.isStart ? 'stop' : 'start')"
                [disabled]="scanner?.isLoading || false">
                <i class="bx bx-qr" style="color:black ;"></i>
                <!-- <img src="../../assets/img/icons/unicons/Camera.png" alt="camera icon" class="rounded border-emphasis1" style="width: 32px; height: 32px; cursor: pointer;"> -->
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-xxl-4 col-lg-12 col-md-6 order-1">
      <div class="card h-100 border-emphasis1">
        <div class="card-title d-flex align-items-start justify-content-between mb-4">
          <div class="avatar flex-shrink-0 shadow">

            <img src="../../assets/img/icons/unicons/wallet-info.png" alt="wallet info">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xxl-8 mb-6 order-0 justify-content-center">
      <div class="card h-100 border-emphasis">
      <div class="card m-4 shadow-none">
        <div class="card-datatable text-nowrap" style="height: 400px; overflow-y: auto;">
            <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">

            <div class="justify-content-between dt-layout-table"></div>
            <div class="d-md-flex justify-content-between align-items-center dt-layout-full table-fixed">
              <table
            class="datatables-ajax table table-bordered dataTable"
            id="DataTables_Table_0"
            aria-describedby="DataTables_Table_0_info"
            style="width: 100%;"
            *ngIf="filteredSearchNames.length > 0">
            <colgroup>
              <col data-dt-column="0" style="width: 5%;">
              <col data-dt-column="1" style="width: 30%;">
              <col data-dt-column="2" style="width: 20%;">
              <col data-dt-column="3" style="width: 25%;">
              <col data-dt-column="4" style="width: 20%;">
            </colgroup>
            <thead>
              <tr>
              <th>#</th>
              <!-- <th>Patient ID</th> -->
              <th>Full Name</th>
              <th>Sex</th>
              <th>Age</th>
              <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of filteredSearchNames; let i = index">
              <th>{{ i + 1 }}</th>
              <!-- <th>{{ x.patientCode }}</th> -->
              <th>{{ x.fullName }}</th>
              <th>{{ x.sex }}</th>
              <th>{{ x.age }}</th>
              <th><button type="button" class="btn btn-success btn-sm text-white" (click)="goToSelectedApp(x.patientCode)">Proceed</button>
              </th>
              </tr>
            </tbody>
            <tfoot></tfoot>
              </table>
              <p *ngIf="searchText && filteredSearchNames.length === 0">No patients found.</p>
            </div>

            <div class="card-footer text-center" *ngIf="searchText && filteredSearchNames.length === 0">
              <button type="button" class="btn btn-primary text-white" (click)="goToAppDashboard()">
            Register
              </button>
            </div>

            <div class="row mx-3 justify-content-between">
            <div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto">
                <div class="dt-info" aria-live="polite" id="DataTables_Table_0_info" role="status">Showing 0 to 0 of 0 entries</div>
            </div>
            <div class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0">
                <div class="dt-paging">
                <nav aria-label="pagination">
                <ul class="pagination">
                    <li class="dt-paging-button page-item disabled">
                    <button class="page-link previous" role="link" type="button" aria-controls="DataTables_Table_0" aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1">
                    <i class="icon-base bx bx-chevron-left scaleX-n1-rtl icon-sm"></i>
                    </button>
                    </li>
                    <li class="dt-paging-button page-item disabled">
                    <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0" data-dt-idx="0">1</button>
                    </li>
                    <li class="dt-paging-button page-item disabled">
                    <button class="page-link next" role="link" type="button" aria-controls="DataTables_Table_0" aria-label="Next" data-dt-idx="next">
                    <i class="icon-base bx bx-chevron-right scaleX-n1-rtl icon-sm"></i>
                    </button>
                    </li>
                </ul>
                </nav>
                </div>
            </div>
            </div>
            </div>
        </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-12 col-xxl-4 order-3 order-md-2">
      <div class="card h-100 border-emphasis1">
        <div class="card-body">
          <div class="d-flex justify-content-between">
         <div class="d-flex flex-column">
                <div class="card-title mb-auto">
                <h5 class="mb-0">Patient Discharge</h5>
                <p class="mb-0">Annual Report</p>
                </div>
                <div class="chart-statistics"style="margin-top: 10px;">
                <h2 class="card-title mb-0" style="align-content: bottom;">1230 - sample</h2>
               <p class="text-success text-nowrap mb-0"><i class="icon-base bx bx-chevron-right icon-lg"></i> 12.8%</p>

                <hr>
                <h2 class="card-title mb-0">4,230 <i class="icon-base bx bx-group icon-lg"></i></h2>
          </div>
      </div>
          <div style="min-height: 152px;" class=""> <img src="../../assets/img/icons/unicons/OutPatient.png"  style="width: 135px; height: 145px;"></div>
        </div>
      </div>
    </div>

  </div>

  </div>

  <div class="modal modal-top fade show" id="modalTop" tabindex="-1" [ngStyle]="{ 'display': isModalVisible ? 'block' : 'none' }" aria-modal="true" role="dialog">
    <div class="modal-dialog">
      <form class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTopTitle">Scan <span class="bx bx-qr"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hideModal()"></button>
        </div>
        <div class="modal-body">
          <div [style.padding.px]="20">
            <ngx-scanner-qrcode #action="scanner" (event)="onEvent($event)"></ngx-scanner-qrcode>
            <div *ngIf="scannedData">
              <p>Scanned Data: {{ scannedData }}</p>
            </div>
            <p *ngIf="action.isLoading">Loading Camera...</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="hideModal()">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>


