

<app-loader [isLoading]="isLoading"></app-loader>
<div class="login-background d-flex align-items-center justify-content-center">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card px-sm-6 px-0">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                 
                  <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                          </g>
                        </g>
                        <g id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
              <span class="app-brand-text demo text-heading fw-bold">LMISS</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-1">Welcome to LMISS! 👋</h4>
          <p class="mb-6" style="font-size: 10px;">LPRRC Monitoring & Information Storage System</p>


          <form class="login-form mb-6">
          <!-- Username Field -->
          <div class="mb-6">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="email-username"
              placeholder="Enter your username"
              autofocus
              [(ngModel)]="username"
            />
          </div>

          <!-- Password Field -->
          <div class="mb-6">
            <label for="username" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="email-password"
              placeholder="Enter your username"
              autofocus
              [(ngModel)]="password"
            />
          </div>
<br>
          <!-- Submit Button -->
          <div class="mb-6" style="cursor: pointer;">
            <button class="btn btn-primary d-grid w-100 text-dark" type="submit" (click)="onLogin()">Login</button>
          </div>
       </form>


         
<br>
          <br><br>
         
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>
